<!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

				<!-- Site Title, your name, HELLO msg, etc. -->
				<h1 class="title">About Rapolitics</h1>
				<!-- <h2 class="subtitle">Why Would We Do This?</h2> -->

				<!-- Short introductory (optional) -->
				<h3 class="tagline">
					Rapolitics is an application to help music fans connect with a social/political agenda inspired by their favorite rap artists.<br><br>
					Hip-Hop songs have been riddled with political themes from the beginning. We aim to share some of those artists political awareness with the world, hoping to generate the desire in U.S. citizens to get involved in making our country a better place. 
				</h3>
				
				<!-- Nice place to describe your site in a sentence or two -->
				<a href="mailto:rapoliticsinfo@gmail.com" class="btn btn-default btn-lg">Contact Us!</a>

				<div class="about-footer">
					<p>Created by <a href="http://kirch.in">Zack Kirchin</a>      |      <a href="http://weloveclt.com/">#We♥CLT</a></p>
				</div>
	
			</div> <!-- /col -->
		</div> <!-- /row -->
	
	</div>
</section>